<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- included CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
  <!-- custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
  {{#if css}}
    <link rel="stylesheet" href="/css/{{css}}.css">
  {{/if}}
  <title>簡單記帳簿</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/index">簡單記帳簿</a>
        <div class="ml-auto">
          {{#if user}}
            <button type="button" class="user-btn btn mr-2 text-white position-relative">
              <i class="fas fa-user-circle"></i>
              <span>{{user.name}}</span>
            </button>
            {{!-- 帳戶選單 --}}
            <div class="card profile" data-inside="true">
              <div class="card-body" data-inside="true">
                <h5 class="card-title" data-inside="true">{{user.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted" data-inside="true">{{user.email}}</h6>
              </div>
              <div class="card-footer text-muted d-flex justify-content-between align-items-center" data-inside="true">
                <a href="/users/setting" class="card-link">帳戶設置</a>
                <a href="/users/signout" class="btn btn-outline-secondary">登出</a>
              </div>
            </div>
          {{else if signin}}
            <a href="/users/signup" class="btn btn-outline-light">註冊</a>
          {{else}}
            <a href="/users/signin" class="btn btn-outline-light">登入</a>
          {{/if}}
        </div>
      </div>
    </nav>
  </header>

  <main class="mt-5">
    <div class="container">
      {{{body}}}
    </div>
  </main>

  <footer class="bg-dark mt-5">
    <div class="container py-4 text-center">
      <div class="d-inline-block mx-auto">
        <a href="https://github.com/Lastor-Chen/expense-tracker" target="_blank" rel="noopener">
          <i class="fab fa-github"></i>
        </a>
        <span class="d-block text-white-50">
          - Made in 2019 - <br>
          - Server system built on Node.js with Express framework -
        </span>
      </div>
    </div>
  </footer>

  <!-- included JS -->
  <import>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    {{#ifEqual css 'index'}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    {{/ifEqual}}
  </import>
  <!-- custom JS -->
  <script src="/js/main.js"></script>
  {{#if js}}
    <script type="module" src="/js/{{js}}.js"></script>
  {{/if}}
</body>
</html>