<div class="row justify-content-center">
  {{!-- list group --}}
  <div class="col-auto col-md-3 col-lg-2">
    <ul class="list-group">
      <li class="list-group-item list-group-item-secondary">Setting</li>
      <li class="list-group-item">profile</li>
    </ul>
  </div>
  
  <div class="col-auto col-md-5 col-lg-4">
    {{#ifEqual form 'profile'}}
      {{> alert}}
    {{/ifEqual}}
    {{!-- edit profile --}}
    <form action="/users/setting/profile?_method=PUT&form=profile" method="POST">
      <div class="border-bottom pb-2 mb-3">修改帳戶資料</div>
      <div class="form-group">
        {{#if input}}
          <input type="text" class="form-control" id="name" name="name" value="{{input.name}}" placeholder="名稱">
        {{else}}
          <input type="text" class="form-control" id="name" name="name" value="{{user.name}}" placeholder="名稱">
        {{/if}}
        <small class="form-text text-muted">如未輸入，將使用預設名稱: User</small>
      </div>
      <div class="form-group">
        {{#if input.email}}
          <input type="email" class="form-control" id="email" name="email" value="{{input.email}}" placeholder="sample@gmail.com" required>
        {{else}}
          <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" placeholder="sample@gmail.com" required>
        {{/if}}
      </div>
      <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">修改</button>
      </div>
    </form>
    {{!-- edit password --}}
    {{#ifEqual form 'password'}}
      {{> alert}}
    {{/ifEqual}}
    <form action="/users/setting/password?_method=PUT&form=password" method="POST">
      <div class="border-bottom pb-2 mb-3">修改密碼</div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" placeholder="新密碼 (8~12位數) *" minlength="8"
          maxlength="12" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password2" name="password2" placeholder="確認密碼 *" minlength="8"
          maxlength="12" required>
      </div>
      <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">修改</button>
      </div>
    </form>
  </div>
</div>